# -----------------
# IntelliJ
# -----------------
# .idea フォルダ内の設定ファイル（xmlも含む）をすべて無視
.idea/

# -----------------
# Gradle
# -----------------
# Gradleのキャッシュ
.gradle/

# ビルド（コンパイル）結果の成果物
build/

# Gradleタスク名のキャッシュ
.gradletasknamecache

# Eclipse（もし使う場合）
.project
.classpath
.settings

# -----------------
# その他
# -----------------
# ログファイル
*.log

# パッケージ化されたファイル
*.jar
*.war
*.ear

# -----------------
# 例外（無視しない）
# -----------------
# Gradleラッパーのjarファイルは管理対象にする
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.jar